* {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 992px;
}

.test {
  width: 400px !important;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  color: #bfb;
  border: none;
}

.card {
  max-width: 75%;
  display: block;
  margin:  10px auto;
  padding: 10px;
}

.logo {
  width: 60px;
  height: 60px;
}

.header__text {
 align-self: center;
}

.header-main {
  padding: 0;
  margin: 0 auto;
  width: 75%;
  border-radius: 10px;
}

.swiper {
  height: 100%;
}

.swiper-slide{
}

.lang{
  justify-content: end;
}

.lang-text {
  text-align: center
}

#btnPrev, #btnNext {
  width: 200px;
}