* {
  margin: 0;
  padding: 0;
}

._container {
  width: 97vw;
  max-width: 1240px !important;
  height: 100%;
  margin: 0 auto;

}
.swiper, .swiper-slide, .swiper-wrapper {
  height: auto !important;
}

.card-img {
  position: absolute;
  right: 0;
  z-index: 2;
  display: block;
  margin: 5px 0 20px auto;
  padding: 10px;
  width: 40% !important;
  object-fit: cover !important;
  background-color: #fff;
}

.card {
  margin-top: 70px;
}

.card-body {

}

.term {
  margin-right: 0.5rem;
  background: #6ee7b7;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  color: #0478fa;
  letter-spacing: 1px;
}


.card__body p{
  color: red;
  font-size: 16px;
}

.logo {
  width: 60px;
  height: 60px;
  margin-left: 20px;
}

.header__text {
 align-self: center;
}

.header-main {
  max-width: 1240px !important;
  padding: 5px 0;
  margin: 0 auto;
  border-radius: 0 0 4px 4px;
}

.swiper {
  height: 80vw;
}

.lang{
  padding-right: 10px;
  justify-content: end;
}

.lang-text {
  text-align: center;
  color: #0dcaf0 !important;
}

#btnPrev, #btnNext {

}

.nav-buttons {
  max-width: 1240px !important;
  margin: 0 auto;
}

.nav-buttons button {
  height: 70px;
  padding: 15px;
  border-radius: 4px 4px 0 0;
  opacity: 1 !important;
  border-left: 1px solid #fff;
}
.dropdown-menu {
width: 60px !important;
min-width: 3rem !important;
}

.dropdown-item {
  text-align: center !important;
}

.dropdown-item:active {
  background-color: #8ce7f9 !important;
}